.navbar{
    display: flex;
    height: 40px;
    background-color: #21222A;
    padding: 30px;
    align-items: center;
}

.logoImg{
    width: 40px;
    margin-right: 5px;
}
.nav-logo-text{
    color: #61DAFB;
    margin:  0;
    list-style: none;
    margin-right: auto;
    font-weight: 600;
    /* letter-spacing: 0.02em; */
}
.nav-title{
    color: #DEEBF8;
    font-weight: 600;
}