.App {
  text-align: center;
  
}

.border{
  width: 300px;
  border: 1px solid white;
}

.button{
  border: 2px solid white;
  background: pink;
  padding: 10px 20px;
  font-size: 25px;
  border-radius: 10px;
  color: #282c34;
}
.btn{
  border: 2px solid white;
  background: pink;
  padding:  20px;
  font-size: 25px;
  border-radius: 50%;
  color: #282c34;
  margin-left: 80%;
}
@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  border: 1px solid white;
  /* background-color: #282c34; */
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 15px;
  color: white;
}


.App-link {
  color: #633bb4;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
